<div class="container" style="margin: 0 auto;">
  <p style="font-weight: bold"> Add your treehouse: </p>
  <%= simple_form_for(@treehouse) do |f| %>
    <%= f.input :name, as: :string, required: false, wrapper: false, label: false, placeholder: "House name" %>
    <br>
    <%= f.input :address, as: :string, required: false, wrapper: false, label: false, placeholder: "Address" %>
    <br>
    <%= f.input :description, as: :text, wrapper: false, label: false, placeholder: "Description" %>
    <br>
    <%= f.input :price_per_night, as: :integer, wrapper: false, label: false, placeholder: "Price per night" %>
    <br>
    <%= f.input :beds, as: :integer, wrapper: false, label: false, placeholder: "No. of beds" %>
    <br>
    <%= f.input :capacity, as: :integer, wrapper: false, label: false, placeholder: "Max capacity" %>
    <br>
    <%= f.input :photo, as: :file %>
    <br>
    <%= f.submit 'Confirm Booking', class:"button-main"%>
  <% end %>
</div>
