<div class="banner-index shadow-sm" style="height:150px; background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('https://res.cloudinary.com/dwzhk2thi/image/upload/v1601583065/bannerleaf_vlqhq9.jpg');">
</div>

<div class="container mt-5 mb-5">

  <div class="row p-2">
    <div class="card shadow col-md-4 p-5 bg-white rounded text-center d-block"><br>
        <%= image_tag "https://source.unsplash.com/random/300x150", class: "avatar avatar-xlarge mb-2", style:"object-fit:cover;"%>
        <hr><br>
        <h3 class="mt-2" style="color:#65BE16; font-size:30px;"><strong><%=@user.first_name.capitalize%> <%=@user.last_name.capitalize%></strong></h3>
        <br>
        <p style="font-size:18px;"><%=@user.email%></p>
    </div>
  
    <div class="card col-md-8 pl-5 pr-5 pb-5 pt-0  rounded border-0">
      <div class="card-body">
        <%# Tabs for the bookings/rentals %>
        <div class="container" style="font-size:20px;">
            <ul class="nav nav-tabs mb-5" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="bookings-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="bookings" aria-selected="true">Bookings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="treehouses-tab" data-toggle="tab" href="#treehouses" role="tab" aria-controls="treehouses" aria-selected="false">My Treehouses</a>
              </li>
            </ul>
        </div>
            <%# Content containers for each tab %>
        <%# Tab 1 %>
        <div class="tab-content">
          <div class="tab-pane active" id="bookings" role="tabpanel" aria-label="bookings-tab">
            <h2 class="text-muted p-2"><strong style="font-size:30px;"> <i class="far fa-calendar-check pr-3" style="color:#65BE16;"></i>My Bookings</strong></h2><br>
              <% if @bookings %>
                <% @bookings.each do |booking| %>
                  <h5 class="card-title p-2" style="color:#65BE16; font-size:20px"><strong><%= booking.treehouse.name.upcase %></strong></h5>
                  <hr style="background-color:#65BE16;">
                  <p class="card-text p-2 text-muted" style="font-size:20px;"><strong>Check in:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= booking.check_in %> </p>
                  <p class="card-text p-2 text-muted" style="font-size:20px;"><strong>Check out:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= booking.check_out %> </p>
                  <p class="card-text p-2 text-muted" style="font-size:20px;"><strong>Nr of guests:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= booking.number_of_guests %></p>
                  <br>
                  <span class="button-main mt-3" style="font-size:20px;"> <%= link_to 'Cancel', booking_path(booking.id), method: :delete, data: { confirm: "Are you sure?" }, class: "text-decoration-none text-white" %></span>
                  <p><br></p>
                  <p><br></p>
                <% end %>
              <% else %>
                <p class="p-1" style="font-size:20px;">You have no bookings with us just yet!</p>
                <p class="p-1" style="font-size:20px;">Visit our home page to begin your journey.</p>
                <br>
                <span class="button-main mt-3" style="font-size:20px;"> <%= link_to 'Search for treehouses', treehouses_path, class: "text-decoration-none text-white" %></span>
              <% end %>
            </div>
            <%# Tab 2 %>
            <div class="tab-pane" id="treehouses" role="tabpanel" aria-label="treehouses-tab">
              <h2 class="text-muted p-2"><strong style="font-size:30px;"> <i class="far fa-calendar-check pr-3" style="color:#65BE16;"></i>My Treehouses</strong></h2><br>
                <% if @treehouses %>
                  <% @treehouses.each do |treehouse| %>
                    <h5 class="card-title p-2" style="color:#65BE16; font-size:20px"><strong><%= treehouse.name.upcase %></strong></h5>
                    <hr style="background-color:#65BE16;">
                    <p class="card-text p-2 text-muted" style="font-size:20px;"><strong>Address:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= treehouse.address %> </p>
                    <p class="card-text p-2 text-muted" style="font-size:20px;"><strong>Price per night:</strong>&nbsp;&nbsp;&nbsp;&nbsp;<%= treehouse.price_per_night %> NOK</p>
                    <p class="card-text p-2 text-muted " style="font-size:20px;"><strong>Description:<br></strong><%= treehouse.description %>"</p>
                    <br>
                    <span class="button-main mt-3" style="font-size:20px;"> <%= link_to 'Edit', edit_treehouse_path(treehouse.id), class: "text-decoration-none text-white" %></span>
                    <span class="button-main mt-3" style="font-size:20px;"> <%= link_to 'Remove', treehouse_path(treehouse.id), method: :delete, data: { confirm: "Are you sure?" }, class: "text-decoration-none text-white" %></span>
                    <p><br></p>
                    <p><br></p>
                  <% end %>
                <% else %>
                  <p class="p-1" style="font-size:20px;">You have no treehouses up for rent just yet!</p>
                  <p class="p-1" style="font-size:20px;">Let's get you set up with your first rental</p>
                  <br>
                  <span class="button-main mt-3" style="font-size:20px;"> <%= link_to 'Add a treehouse', new_treehouse_path, class: "text-decoration-none text-white" %></span>
                <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>




