<div class="banner-index shadow-sm p-5">
  <div class="row align-items-center">
  <div class="form" style="margin: 0 auto;">   
  </div>
  </div>
</div>

<div class="container">
  <%# Row 1  %>
  <div class="row p-5">
    <div class="col-4" style="">
         <%= image_tag "https://source.unsplash.com/random/300x150", class: "avatar avatar-xlarge"%>
         <br><br>
         <h3 class="mb-3" style="color:#65BE16; font-size:50px;"><%=@user.first_name.capitalize%> <%=@user.last_name.capitalize%></h3>
         <p class="mb-3" style="font-size:25px;">E-mail: <%=@user.email%></p>
         <p class="mb-3" style="font-size:25px;">Phone Number <%=@user.phone_number%></p>
          <div class="pt-3">
         <p style="opacity:0.7"><%=@user.description%></p>
         </div>
    </div>

     <div class="col-8">  
      <h1 class="m-3 text-muted" style="font-weight:bold; font-size:50px;">My Bookings</h1>
        <div class="card shadow mb-5 bg-white rounded" style="width: 72rem;">
          <div class="card-body">
            <h5 class="card-title p-2" style="font-size:25px">Treehouse name: <%= @treehouse.capitalize  %></h5>
            <p class="card-text p-2" style="font-size:25px;"> Check in: <%= @booking.check_in %> </p>
            <p class="card-text p-2" style="font-size:25px;"> Check in: <%= @booking.check_out %> </p>
            <p class="card-text p-2" style="font-size:25px;"> Check in: <%= @booking.number_of_guests %></p>
            <a href="#" class="button-secondary" style="font-size:25px"> Edit </a>
          </div>
       </div>

      
      </div>
  </div>





  <%# id: 1,
 treehouse_id: 1,
 user_id: 2,
 check_in: Wed, 30 Sep 2020,
 check_out: Fri, 02 Oct 2020,
 number_of_guests: 1, %>



  <%# Row 2 %>

  <%# <div class="row">
    <div class="col-6 text-white p-5">
         
    </div>
    
    <div class="col-6 bg-info text-white">   
      Here the bookings will show after a while
    </div>
  </div> %>

</div>

<%# // For example:
$red: #FD1015;

$blue:#175A88;
$yellow: #FFC65A;
$orange: #E67E22;
$highlight: #65BE16;
$green1: #119358;
$green2: #2EA16D;
$green3: #4FB486;
$dark-gray: #3B3838;
$gray: #7F7F7F;
$light-gray: #BFBFBF; %>